* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
}
#root {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

.add_todo{
    height: 40px;
    width: 500px;
    display: flex;
    margin-top: 120px;
}
.add_todo input {
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(27, 11, 208);
}
.add_todo button {
    width: 100px;
    height: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: rgb(0, 255, 81);
    color: black;
    font-size: 18px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
}

label {
    display: flex;
    align-items: center;
    justify-content: ;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label button {
    width: 80px;
    height: 30px;
    border: none;
    margin-left: 10px;
}

input {
    font-size: 20px;
}

.delete {
    background-color: red;
    color: black;
}
.edit {
    background-color: green;
    color: black;
}
.save {
    background-color: rgb(0, 110, 255);
    color: white;
}